<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
	<listeners>
		<listener class-name="org.timbuk2.connections.Listeners" />
	</listeners>
	<test thread-count="5" name="Timbuk2CheckOutFlow">
		<classes>
			<class name="org.timbuk2.TestCompopnents.Timbuk2CheckOutFlowTest" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="Timbuk2ErrorValidation">
		<classes>
			<class name="org.timbuk2.TestCompopnents.Timbuk2ErrorValidationTest" />
		</classes>
	</test>
	<test thread-count="5" name="Timbuk2FooterPage">
		<classes>
			<class name="org.timbuk2.TestCompopnents.Timbuk2FooterPageTest" />
		</classes>
	</test>
</suite> <!-- Suite -->
